/*!
 * Roots 6.5.0
 */
/*FONTS*/


@font-face{
  font-family: "Old-western";
  src: url(fonts/Go-2-Old-Western.ttf);
}
@font-face{
  font-family: "Haymaker";
  src: url(fonts/Haymaker.ttf);
}
@font-face{
  font-family: "Hooverville";
  src: url(fonts/Hooverville.ttf);
}
/* ==========================================================================
   Base
   ========================================================================== */

body { }
.container-fluid .row{
  max-width: 1170px;
  margin: 0 auto;
}
/* Twitter Widget Pro Styling */
.widget_twitter div {
    padding:0;
}

.widget_twitter ul li {
    margin-bottom:5px;
}

.widget_twitter .follow-button,
.widget_twitter .xavisys-link {
    margin:0 10px 10px 25px;
}

.widget_twitter .entry-meta {
    display:block;
    font-size:80%;
}

.widget_twitter .intent-meta a {
    background: url(./img/everything-spritev2.png); /** from Twitter ressources */
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.widget_twitter .intent-meta a.in-reply-to {
    background-position: 0 center;
}
.widget_twitter .intent-meta a:hover.in-reply-to {
    background-position: -16px center;
}
.widget_twitter .intent-meta a.favorite {
    background-position: -32px center;
}
.widget_twitter .intent-meta a:hover.favorite {
    background-position: -48px center;
}
.widget_twitter .intent-meta a.retweet {
    background-position: -80px center;
}
.widget_twitter .intent-meta a:hover.retweet {
    background-position: -96px center;
}

h1, h2, h3, p, a{
  color: black;
}

p{
  font-family: 'chaparral-pro';
}

h3{
  font-family: 'chaparral-pro';
}

a{
  text-decoration: none;
}
/* ==========================================================================
   Header
   ========================================================================== */
.nav li a{
  font-family: 'Haymaker';
}

.banner {
background-color: rgba(0, 0, 0, .3);
 }

#menu-primary-navigation{
  float: right;
}

.navbar-nav>li>a{
  color: #ffffff!important;
  margin-right: 8px;
}

.navbar{
  margin-bottom: 0px!important;
}

.container-fluid{
  padding-top: 10px!important;
}
/* ==========================================================================
   Content
   ========================================================================== */


.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */
.vid-back{
  padding: 3% 5%;
  background: gray;
}
.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.centered{
  text-align: center;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   About
   ========================================================================== */

.who-is-kf{
  height: 0px;
  padding-bottom: 12%;
  background-image: url("../img/who-is.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.story{
  height: 0px;
  padding-bottom: 12%;
  background-image: url("../img/Continue-the-Story.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

}
.about-page h3{
  line-height: 2;
}
.about-page p{
  line-height: 1.5;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
    Blog
   ========================================================================== */
   #blog-signup{
    padding-bottom: 13%;
   }   

   #blog-signup h2{
      font-size: 20px;
      margin-bottom: 5px!important;
      text-align: center;
   }

   #blog-signup h1{
      font-size: 25px;
      margin-top: 5px!important;
      text-align: center;
   }

  .blog-title{
    text-align: center;
  }

  .blog-img{
    padding: 21% 10%;
    border: solid #FFFFFF 3px;
    background-size: cover;
  }

  .blog-posts{
    background-color: rgba(0,0,0,.5);
  }

  .email-gray{
    border-radius: 0px!important;
    border: 0px solid rgba(0,0,0,0)!important;
    background-color: rgba(208,195,176,.4)
  }

  input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF!important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF!important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF!important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFFFFF!important;
}

hr{
  margin: 2px!important;
  border-top: 2px solid rgba(255,255,255,.3)!important;
}

.blog-title a{
  color: #FFFFFF!important;
}

/* ==========================================================================
   Tour Page
   ========================================================================== */
   .tour-dates{
    background: url('../img/KFTour.png');
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 10%;
  background-size: 45%;
   }

   .tour-top{
    margin-top: 13%;
   }

   .tour-header{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   }

   .tour-header>div>*{
    font-size: 20px;
   }

   .next-show{
    border-left: 1px solid black;
    border-right: 1px solid black;
   }

   .bit-date{
    font-size: 1.2em;
    border-right: black solid 1px;
    min-width: 60px;
}
.bit-date a{
  font-family: "Old-Western"!important;
}
.bit-rsvp{
  display: none!important;
}
.bit-location{
  border-right: solid 1px black!important;
}
.lineup{
  display: none!important;
}
    .bit-venue{
      border-right: 1px solid black;
      width: 65%;
      text-align: center;
    }

    .bit-venue>a{
      font-size: 2.2em!important;
      text-align: center!important;
    }
   
.bit-header{
  display: none;
}
   tbody>:nth-child(2){
    display:none;
   }

   .bit-description-links{
 display: none!important;
   }

.bit-tickets a{
  font-family: 'Old-Western';
}
   tr{
    border-top: double black 1px;
    border-bottom: double black 1px;
    margin-bottom: 3px
   }

   .tour-header>*{
    font-family: 'Old-Western'!important;
   }
   .more-dates{
    height: 0px!important;
    padding-bottom: 8%;
    background-image: url("../img/KFDates.png");
    background-size: contain;
    background-repeat: no-repeat;
   }
/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

/*Twitter Button*/

#question_text {
font-family: "chaparral-pro",sans-serif!important;
font-size: 16px;
line-height: 18px;
background: #6D6860;
border: none;
padding: 10px;
color: white;
display: inline-block;
width: 400px;
margin-right: 15px;
height: 50px;
-webkit-transition: all .2s ease 0;
-moz-transition: all .2s ease 0;
-o-transition: all .2s ease 0;
-ms-transition: all .2s ease 0;
transition: all .2s ease 0;
}

#question_text:focus{background:#e3e5da;color:#000;-webkit-transition:all .2s ease 0;-moz-transition:all .2s ease 0;-o-transition:all .2s ease 0;-ms-transition:all .2s ease 0;transition:all .2s ease 0}

#talk_btn {
font-size: 38px;
line-height: 28px;
background: #2DB2D9;
padding: 21px;
display: inline-block;
-webkit-transition: all .2s ease 0;
-moz-transition: all .2s ease 0;
-o-transition: all .2s ease 0;
-ms-transition: all .2s ease 0;
transition: all .2s ease 0;
color: #ffffff;
-moz-border-radius: 5px; /* Firefox */
-webkit-border-radius: 5px; /* Safari, Chrome */
border-radius: 5px; /* CSS3 */
}

#talk_btn:hover{
background:#e0d69d;
color: #000;
-webkit-transition:all .2s ease 0;
-moz-transition:all .2s ease 0;
-o-transition:all .2s ease 0;
-ms-transition:all .2s ease 0;
transition:all .2s ease 0;
text-decoration:none;
}

.content-info .container{
  height: 50px;
  background-color: #1D0F06;
}





/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
.tour-dates{
  background: url('../img/KFTour.png') 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 5%;
  background-size: 33%;
}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
.tour-top{
    margin-top: 14%!important;
   }
   .tour-dates{
  background: url('../img/KFTour.png') 100%;
  background-repeat: no-repeat;
  padding-top: 0px;
  background-position: left top;
}
    }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
.tour-dates{
  background: url('../img/KFTour.png') 100% no-repeat;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0px;
}
}

.tour-top{
    margin-top: 14%!important;
   } 
 }
