/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

/* Twitter Widget Pro Styling */
.widget_twitter div {
    padding:0;
}

.widget_twitter ul li {
    margin-bottom:5px;
}

.widget_twitter .follow-button,
.widget_twitter .xavisys-link {
    margin:0 10px 10px 25px;
}

.widget_twitter .entry-meta {
    display:block;
    font-size:80%;
}

.widget_twitter .intent-meta a {
    background: url(./img/everything-spritev2.png); /** from Twitter ressources */
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.widget_twitter .intent-meta a.in-reply-to {
    background-position: 0 center;
}
.widget_twitter .intent-meta a:hover.in-reply-to {
    background-position: -16px center;
}
.widget_twitter .intent-meta a.favorite {
    background-position: -32px center;
}
.widget_twitter .intent-meta a:hover.favorite {
    background-position: -48px center;
}
.widget_twitter .intent-meta a.retweet {
    background-position: -80px center;
}
.widget_twitter .intent-meta a:hover.retweet {
    background-position: -96px center;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
background-color: rgba(0, 0, 0, .3);
 }

#menu-primary-navigation{
  float: right;
}

.navbar-nav>li{
  color: #ffffff;
  margin-right: 8px;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

/*Twitter Button*/

#question_text {
font-family: "chaparral-pro",sans-serif!important;
font-size: 16px;
line-height: 18px;
background: #6D6860;
border: none;
padding: 10px;
color: white;
display: inline-block;
width: 400px;
margin-right: 15px;
height: 50px;
-webkit-transition: all .2s ease 0;
-moz-transition: all .2s ease 0;
-o-transition: all .2s ease 0;
-ms-transition: all .2s ease 0;
transition: all .2s ease 0;
}

#question_text:focus{background:#e3e5da;color:#000;-webkit-transition:all .2s ease 0;-moz-transition:all .2s ease 0;-o-transition:all .2s ease 0;-ms-transition:all .2s ease 0;transition:all .2s ease 0}

#talk_btn {
font-size: 38px;
line-height: 28px;
background: #2DB2D9;
padding: 21px;
display: inline-block;
-webkit-transition: all .2s ease 0;
-moz-transition: all .2s ease 0;
-o-transition: all .2s ease 0;
-ms-transition: all .2s ease 0;
transition: all .2s ease 0;
color: #ffffff;
-moz-border-radius: 5px; /* Firefox */
-webkit-border-radius: 5px; /* Safari, Chrome */
border-radius: 5px; /* CSS3 */
}

#talk_btn:hover{
background:#e0d69d;
color: #000;
-webkit-transition:all .2s ease 0;
-moz-transition:all .2s ease 0;
-o-transition:all .2s ease 0;
-ms-transition:all .2s ease 0;
transition:all .2s ease 0;
text-decoration:none;
}







/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
