/*!
 * Roots 6.5.0
 */
/*FONTS*/


@font-face{
  font-family: "Old-western";
  src: url(../fonts/Go-2-Old-Western.ttf);
}
@font-face{
  font-family: "Haymaker";
  src: url(../fonts/Haymaker.ttf);
}
@font-face{
  font-family: "Hooverville";
  src: url(../fonts/Hooverville.ttf);
}
/* ==========================================================================
   Base 
   ========================================================================== */

body {
background-color: black; }
.container-fluid .row{
  max-width: 1170px;
  margin: 0 auto;
}

p{
margin-top: 16px;
font-size: 18px;
line-height: 1.5;
}


/* Twitter Widget Pro Styling */
.widget_twitter div {
    padding:0;
}

.widget_twitter ul li {
    margin-bottom:5px;
}

.widget_twitter .follow-button,
.widget_twitter .xavisys-link {
    margin:0 10px 10px 25px;
}

.widget_twitter .entry-meta {
    display:block;
    font-size:80%;
}

.widget_twitter .intent-meta a {
    background: url(./img/everything-spritev2.png); /** from Twitter ressources */
    display: inline-block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.widget_twitter .intent-meta a.in-reply-to {
    background-position: 0 center;
}
.widget_twitter .intent-meta a:hover.in-reply-to {
    background-position: -16px center;
}
.widget_twitter .intent-meta a.favorite {
    background-position: -32px center;
}
.widget_twitter .intent-meta a:hover.favorite {
    background-position: -48px center;
}
.widget_twitter .intent-meta a.retweet {
    background-position: -80px center;
}
.widget_twitter .intent-meta a:hover.retweet {
    background-position: -96px center;
}

h1, h2, h3, p, a{
  color: #FFFFFF!important;
}
h1{
  font-family: 'chaparral-pro';
}
p{
  font-family: 'chaparral-pro';
}

h3{
  line-height: 1.7;
  font-family: 'Hooverville';
  font-size:26px;
}


a{
  text-decoration: none;
}
/* ==========================================================================
   Header
   ========================================================================== */
.nav li a{
  font-family: 'Haymaker';
}

.banner {
background-color: rgba(0, 0, 0, .3);
 }

#menu-primary-navigation{
  float: right;
}

.navbar-nav>li>a{
  color: #ffffff!important;
  margin-right: 8px;
}

.navbar{
  margin-bottom: 0px!important;
}

.container-fluid{
  padding-top: 10px!important;
}

.navbar-default {
background-color: #000000;
border:none!important;
opacity:.3;
}

.navbar>.container .navbar-brand {
display: none;
}

.navbar-default .navbar-nav>.active>a {
color: #F30;
background: none!important;
}


/* ==========================================================================
   Content
   ========================================================================== */


.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */
.vid-back{
  padding: 3% 5%;
  background: gray;
}
.vid-line{
  height: 0px!important;
padding-bottom: 9%;
background-image: url(../img/vid-line.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
margin-top: 5px;
}
.vid-nav{
  margin-top: 15px!important;
}
.vid-next{
  height: 0;
  padding-bottom: 10%;
  background-image: url(../img/vid-next.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.vid-prev{
  height: 0;
  padding-bottom: 10%;
  background-image: url(../img/vid-prev.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.centered{
  text-align: center;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   About
   ========================================================================== */

.who-is-kf{
  height: 0px;
  padding-bottom: 40%;
  background-image: url("../img/who-is.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -30px;
}

.story{
  height: 0px;
  padding-bottom: 25%;
  background-image: url("../img/Continue-the-Story.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -20px;
}

.container-fluid.about-page {
background-image: url(http://kennyfoster.12southmusic.com/wp-content/uploads/2014/02/Bar.jpg);
background-repeat: no-repeat;
}

.about-page h3{
  margin-top: 20px;
  line-height: 2;
}

h3.centered i {
font-family:'chaparral-pro', serif;
line-height:1.4em;
}


/* ==========================================================================
   Tour
   ========================================================================== */

.wrap.container-fluid.tour {
background-image: url(http://kennyfoster.12southmusic.com/wp-content/uploads/2014/02/desert-lg.jpg);
border: none;
background-size: cover;
}

.tour-top {
margin-top: 18%!important;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
    Blog
   ========================================================================== */
   #blog-signup{
    padding-bottom: 13%;
   }   

   #blog-signup h2{
      font-size: 20px;
      margin-bottom: 5px!important;
      text-align: center;
   }

   #blog-signup h1{
      font-size: 25px;
      margin-top: 5px!important;
      text-align: center;
   }

  .blog-title{
    text-align: center;
  }

  .blog-img{
    padding: 21% 10%;
    border: solid #FFFFFF 3px;
    background-size: cover;
  }

  .blog-posts{
    background-color: rgba(0,0,0,.5);
  }

  .email-gray{
    border-radius: 0px!important;
    border: 0px solid rgba(0,0,0,0)!important;
    background-color: rgba(208,195,176,.4)
  }

  input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF!important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF!important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF!important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFFFFF!important;
}

hr{
  margin: 2px!important;
  border-top: 2px solid rgba(255,255,255,.3)!important;
}

.blog-title a{
  color: #FFFFFF!important;
}

/* ==========================================================================
   Tour Page
   ========================================================================== */
   .tour-dates{
    background: url('../img/KFTour.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40%;
  margin: 35px auto;
  display: block;
   }
.tour-date>*{
  width: 100%!important;
}
  #bit-widget-0{
    color: #FFFFFF;
  }

   .tour-top{
    margin-top: 16%;
   }

   .tour-header{
    margin-top: 25px!important;
    border-top: 1px solid #FFFFFF!important;
    border-bottom: 1px solid #FFFFFF!important;
    margin-bottom: 3px;
   }

   .tour-header>div>*{
    font-size: 25px;
    text-align: center;
   }

   .next-show{
    border-left: 1px solid #FFFFFF!important;
    border-right: 1px solid #FFFFFF!important;
    font-size: 1.4em;
    text-align:center;
   }
   .next-show>h2{
    font-family: 'Old-Western'!important;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
   }

   .bit-date{
    font-size: 1.2em;
    border-right: #FFFFFF solid 1px!important;
    min-width: 60px;
    text-align: center!important;
}
.bit-date a{
  font-family: "Old-Western"!important;
  font-size: 25px!important;
}
.bit-rsvp{
  display: none!important;
}
.bit-location{
  border-left: solid 1px #ffffff;
  border-right: solid 1px #FFFFFF!important;
  font-family: 'Hooverville';
  text-align: center!important;
}
.lineup{
  display: none!important;
}
.bit-venue{
  display: none!important;
}
.bit-bottom{
  display: none!important;
}
.bit-venue>a{
  font-size: 2.2em!important;
}

.bit-header{
display: none;
}
tbody>:nth-child(2){
display:none;
}

.bit-description-links{
display: none!important;
}

.bit-tickets a{
  font-family: 'Old-Western';
  font-size: 20px;
  text-decoration: none;
}

.tour-margin{
  margin-top: 3px;
}
   tr{
    height: 45px;
    border-bottom: solid 2px #FFFFFF!important ;
    margin-bottom: 3px
   }

   .tour-border-bottom{
    margin-top: 3px;
    border-top: 1px solid #ffffff;
   }

   .tour-header>*{
    font-family: 'Old-Western'!important;
   }
   .hammer{
    display: none;
   }
   .hammer>h3{
    font-family: 'Old-Western'!important;
   }
   .afoot{
    display: none;
   }
   .afoot>h3{
    font-family: 'Old-Western'!important;
   }
   .more-dates{
   height: 0px!important;
  padding-bottom: 25%;
  padding-left: 25%;
  background-image: url("../img/KFDates.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25px;
  float: right;
   }
/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

/*Twitter Button*/

#question_text {
font-family: "chaparral-pro",sans-serif!important;
font-size: 16px;
line-height: 18px;
background: #6D6860;
border: none;
padding: 10px;
color: white;
display: inline-block;
width: 400px;
margin-right: 15px;
height: 50px;
-webkit-transition: all .2s ease 0;
-moz-transition: all .2s ease 0;
-o-transition: all .2s ease 0;
-ms-transition: all .2s ease 0;
transition: all .2s ease 0;
}

#question_text:focus{background:#e3e5da;color:#000;-webkit-transition:all .2s ease 0;-moz-transition:all .2s ease 0;-o-transition:all .2s ease 0;-ms-transition:all .2s ease 0;transition:all .2s ease 0}

#talk_btn {
font-size: 38px;
line-height: 28px;
background: #2DB2D9;
padding: 21px;
display: inline-block;
-webkit-transition: all .2s ease 0;
-moz-transition: all .2s ease 0;
-o-transition: all .2s ease 0;
-ms-transition: all .2s ease 0;
transition: all .2s ease 0;
color: #ffffff;
-moz-border-radius: 5px; /* Firefox */
-webkit-border-radius: 5px; /* Safari, Chrome */
border-radius: 5px; /* CSS3 */
}

#talk_btn:hover{
background:#e0d69d;
color: #000;
-webkit-transition:all .2s ease 0;
-moz-transition:all .2s ease 0;
-o-transition:all .2s ease 0;
-ms-transition:all .2s ease 0;
transition:all .2s ease 0;
text-decoration:none;
}

.content-info .container{
  height: 50px;
  background-color: #1D0F06;
}





/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
.tour-dates{

  background: url('../img/KFTour.png') 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 5%;
  background-size: 33%;
}
.about-page h3{
  margin-top: -60px!important;
}

.story{
   margin-top: -45px;
 }



.tour-top{
    margin-top: 14%!important;
   }
.tour-dates{
background: url('../img/KFTour.png') 100%;
background-repeat: no-repeat;
padding-top: 0px;
background-position: left top;
background-size: 35%;
padding: 0px!important;
}

#bit-widget-0{
color: #FFFFFF;
}
.tour-header>*{
  display: block!important;
}
.tour-header{
border-top: 1px solid #FFFFFF!important;
border-bottom: 1px solid #FFFFFF!important;
margin-bottom: 3px;
}

.tour-header>div>*{
font-size: 25px;
text-align: center;
}

.next-show{
border-left: 1px solid #FFFFFF!important;
border-right: 1px solid #FFFFFF!important;
font-size: 1.4em;
text-align:center;
}
.next-show>h2{
  margin-top: 20px;
margin-bottom: 16%;
}

.bit-date{
font-size: 1.2em;
border-right: #FFFFFF solid 1px!important;
min-width: 60px;
}
.bit-date a{
  font-family: "Old-Western"!important;
  font-size: 25px!important;
}
.bit-rsvp{
  display: none!important;
}
.bit-location{
  border-right: solid 1px #FFFFFF!important;
  font-family: 'Hooverville';
  text-align: center!important;
}
.lineup{
  display: none!important;
}
.bit-venue{
  height: inherit!important;
  display: block!important;
  width: 65%;
  text-align: center!important;
  font-family: 'Hooverville';
}
.bit-venue>a{
  margin-top: 10px!important;
  font-size: 2.2em!important;
  display: inline-block!important;
  text-align:center;
}
.bit-bottom{
  display: none!important;
}  
.bit-header{
  display: none;
}
tbody>:nth-child(2){
display:none;
}

.bit-description-links{
display: none!important;
}

.bit-tickets a{
  font-family: 'Old-Western';
  font-size: 20px;
  text-decoration: none;
}

.tour-margin{
  margin-top: 3px;
}
tr{
height: 45px;
border-bottom: solid 2px #FFFFFF!important ;
margin-bottom: 3px
}

.tour-border-bottom{
margin-top: 3px;
border-top: 1px solid #ffffff;
}

.tour-header>*{
font-family: 'Old-Western'!important;
}

.hammer>h3{
font-family: 'Old-Western'!important;
}
.afoot>h3{
font-family: 'Old-Western'!important;
}
.next-show>h2{
font-family: 'Old-Western'!important;
font-size: 30px;
}
.more-dates{
height: 0px!important;
padding-bottom: 8%;
background-image: url("../img/KFDates.png");
background-size: contain;
background-repeat: no-repeat;
margin-top: 25px;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
.tour-dates{
  background: url('../img/KFTour.png') 100% no-repeat;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0px;
}
}

.tour-top{
    margin-top: 14%!important;
   } 
 }
